* {box-sizing: border-box;}

body { 
  margin: 0;
}


nav {
  display: flex;
  align-items: center;
  }

.logophoto {
  border:#3C82F8 solid 3px;
  border-radius: 31px;
}

.head {
  border-bottom: #0B63F6 solid 4px;
}

.consulting {
  background-image: url('photo/photonew(1)(1).png');
  background-repeat: no-repeat;
  background-size: cover; 
}



* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", "Geologica"
}

body {
  font-size: 1.1em;

  display: flex;
  flex-direction: column;
  font-family: "Libre Franklin", "Geologica"
}

main {
  display: flex;
  flex-direction: column;
}

article {
  background-color: #fff;
  flex: 1 1 12em;
  padding: 8px;
}

footer {
  flex: 0 0;
  background-color: #f27d00;
  border-top: #ce6c03 solid 4px;
}

section {
padding: 20px 20px;
margin: 7px auto;
background: white;
max-width: 100%;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

@media screen and (min-width: 600px) {
  body {
      min-height: 100vh;
  }
  main {
      flex-direction: row;
      min-height: 100%;
      flex: 1 1 auto;
  }

}
.zag {
  font-weight: 900;
}
@media screen and (min-width: 1204px) {
  .mainzag{
     font-size: 64px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -50px;
  }
  .zag{
    font-size: 28px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}


@media screen and (max-width: 1203px) and  (min-width: 1103px){
  .mainzag{
     font-size: 58px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -40px;
  }
  .zag{
    font-size: 26px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 1102px) and  (min-width: 1003px){
  .mainzag{
     font-size: 52px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -30px;
  }
  .zag{
    font-size: 24px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 1002px) and  (min-width: 903px){
  .mainzag{
     font-size: 46px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -20px;
  }
  .zag{
    font-size: 22px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}
@media screen and (max-width: 902px) and  (min-width: 853px){
  .mainzag{
     font-size: 46px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
  }
  .foot{
    font-size: 16px;
  }
  .zag{
    font-size: 18px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 852px) and  (min-width: 803px){
  .mainzag{
     font-size: 44px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 50px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -18px;
  }
  .foot{
    font-size: 15px;
  }
  .zag{
    font-size: 18px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}


@media screen and (max-width: 802px) and  (min-width: 753px){
  .mainzag{
     font-size: 42px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 55px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
  }
  .foot{
    font-size: 14px;
  }
  .zag{
    font-size: 18px;
  }
  .pod{
    font-size: 21px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 752px) and  (min-width: 703px){
  .mainzag{
     font-size: 40px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 60px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
  }
  .consulting {
    height: 80px;
  }
  .foot{
    font-size: 12px;
  }
  .pod{
    font-size: 19px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}


@media screen and (max-width: 702px) and  (min-width: 653px){
  .mainzag{
     font-size: 37px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 65px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -12px;
  }
  .foot{
    font-size: 11px;
  }
  .pod{
    font-size: 19px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 652px) and  (min-width: 603px){
  .mainzag{
     font-size: 35px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 70px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
  }
  .foot{
    font-size: 9px;
  }
  .pod{
    font-size: 17px;
  }
  #zag {
    color: #f27d00;
    font-size: 25px;
  }
}

@media screen and (max-width: 602px) and  (min-width: 553px){
  .mainzag{
     font-size: 32px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 73px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 17px; 
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 23px;
  }
  .pod{
    font-size: 17px;
  }
}

@media screen and (max-width: 552px) and  (min-width: 503px){
  .mainzag{
     font-size: 30px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 76px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 16px; 
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 21px;
  }
  .pod{
    font-size: 17px;
  }
}
@media screen and (max-width: 502px) and  (min-width: 453px){
  .mainzag{
     font-size: 30px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 79px;
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 15px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 21px;
  }
  .pod{
    font-size: 15px;
  }
}
@media screen and (max-width: 452px) and  (min-width: 419px){
  .mainzag{
     font-size: 29px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 81px;
     
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 14px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 20px;
  }
  .pod{
    font-size: 15px;
  }
}
@media screen and (max-width: 418px) and  (min-width: 403px){
  .mainzag{
     font-size: 27px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 80px;
     
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 15px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 19px;
  }
  .pod{
    font-size: 14px;
  }
}

@media screen and (max-width: 402px) and  (min-width: 353px){
  .mainzag{
     font-size: 24px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 80px;
     
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 14px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 18px;
  }
  .pod{
    font-size: 14px;
  }
}

@media screen and (max-width: 352px) and  (min-width: 333px){
  .mainzag{
     font-size: 22px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 80px;
     
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 13px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 18px;
  }
  .pod{
    font-size: 14px;
  }
}

@media screen and (max-width: 352px) and  (min-width: 333px){
  .mainzag{
     font-size: 20px; 
     color: #fff; 
     text-align: center; 
     font-weight: 600;
     margin-top: 80px;
     
  }
  .slogan{
    text-align: center; 
    font-weight: 550; 
    color: #fff; 
    margin-top: -15px;
    font-size: 13px;
  }
  .foot{
    font-size: 8px;
  }
  #zag {
    color: #f27d00;
    font-size: 17px;
  }
  .pod{
    font-size: 14px;
  }
}
